name: Continuous Deployment

on:
  push:
    branches: [ main ] # Only triggers when code is successfully merged into main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./tic-tac-toe
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tic-tac-toe:latest

      - name: Update Swarm Stack
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/tic-tac-toe:latest
            docker stack deploy -c stack.yml tttstack